body {
    background-color: #DF362D;
    margin: 0;
}

#title {
    font-family: 'Rubik Iso', cursive;
    color: #252525;
    font-size: 90px;
    text-align: center;
    margin: 40px auto;
}

#navbar {
    background-color: #252525;
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'JetBrains Mono', monospace;
    color: #DF362D;
    text-decoration: none;
    /* overflow: hidden; */
}

.sticky {
  position: fixed;
  top: 0;
}

.topMargin {
    margin-top: 130px;
}

#searchBar {
    display: flex;
    margin-left: 5%;
}

.searchElement {
    margin: 0px 5px;
    font-size: 16px;
    font-family: 'JetBrains Mono', monospace;
}

#searchButton {
    background-color: transparent;
    border: 2px solid #e2e2e2;
    border-radius: 10px;
    color: #e2e2e2;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline;
}

#searchButton:hover {
    background-color: #606060;
}

#inputBar {
    background-color: transparent;
    border: 2px solid #e2e2e2;
    border-radius: 10px;
    color: #e2e2e2;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    outline: none;
    text-align: left;
    width: 300px;
}

#inputBar:focus {
    background-color: #606060;
}

.navListIconsContainer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-right: 5%;
    margin-left: 5%;
    width: 280px;
    min-width: 255px;
}

.navListButtons {
    font-size: 16px;
    color: #e2e2e2;
    background-color: transparent;
    border: 2px solid #e2e2e2;
    border-radius: 10px;
    padding: 10px 15px;
    text-align: center;
}

.navListButtons:hover {
    background-color: #606060;
    /* transition: .3s ease-out; */
}

.highlight {
    background-color: #606060;
}

/* Platform Selector Start */
/* https://www.w3schools.com/howto/howto_custom_select.asp */
/* The container must be positioned relative: */
.platformSelector {
    width: 170px;
    background-color: transparent;
    position: relative;
    border: 2px solid #e2e2e2;
    border-radius: 10px;
}

.platformSelector select {
  display: none; /*hide original SELECT element: */
}

.select-selected {
    margin: 2px;
    background-color: #252525;
    border-radius: 10px;
}

/* Style the arrow inside the select element: */
.select-selected:after {
    position: absolute;
    content: "";
    top: 18px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #fff transparent transparent transparent;
}

/* Point the arrow upwards when the select box is open (active): */
.select-selected.select-arrow-active:after {
    border-color: transparent transparent #fff transparent;
    top: 11px;
}

/* style the items (options), including the selected item: */
.select-items div,.select-selected {
    top: 5px;
    color: #e2e2e2;
    padding: 8px 16px;
    /* border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent; */
    cursor: pointer;
}

/* Style items (options): */
.select-items {
    position: absolute;
    background-color: #252525;
    top: 105%;
    left: 0;
    right: 0;
    z-index: 99;
}

/* Hide the items when the select box is closed: */
.select-hide {
    display: none;
}

.select-items div:hover, .same-as-selected {
    background-color: #606060;
}
/* Platform Selector End */

.searchResults {
    display: flex;
}

.resultContainer {
    display: flex;
    background-color: #252525;
    margin: 10px;
    height: 300px;
    border-radius: 10px;
    border: 2px solid #e2e2e2;
}

.cover {
    border-radius: 8px 0 0 8px;
}

.titleContainer {
    font-family: 'JetBrains Mono', monospace;
    font-size: 20px;
    color: #e2e2e2;
    margin: 15px;
}
.title {
    border-bottom: 2px solid #e2e2e2;
    margin-bottom: 15px;
}
.summary {
    font-size: 12px;
    margin-bottom: 15px;
}
.releaseDate {
    font-size: 15px;
}

.listIconsContainer {
    display: flex;
    align-items: flex-end;
    margin: 15px;
}

.listIcon {
    color: #e2e2e2;
    padding: 10px;
    width: 40px;
}

.listIcon:hover {
    color: dodgerblue;
    font-size: 2.5em;
    transition: .3s ease-out;
}

#trashIcon:hover {
    color: #DF362D;
}

.inList {
    color: dodgerblue;
}